.navbar {
    display:flex;
    justify-content:space-between;
    background-color:#ffdd99;
    padding:15px;
    font-size:20px;
    color:black;
}
.header {
    display:flex;
    justify-content:center;
    background-color:#ff9933;
    font-size: 45px;
    color:white;
}
.search {
    display:flex;
    justify-content:flex-end;
    background-color:#ffdd99;
    font-size: 45px;
    color:white;
}
.footer {
    background-color:#ffcc00;
    display:flex;
    justify-content:space-around;
}
#library {
    width:100%;
}
body {
    background-color:#ffd480;
}
.ourfav {
    display:flex;
    justify-content:center;
    color:white;
    text-shadow:2px 2px 2px black;
    font-size: 18px;
}
.afridasfav {
    width:50%;
}
.leandrasfav {
    width:50%;
}
.contact {
    display:flex;
    justify-content:center;
    background-color:#ffd480;
    color:white;
}
.afridasContact {
    width:50%;
}
.leandrasContact {
    width:50%;
}
.searchTitle {
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center
}
.searchDescription {
    font-family: 'Arima Madurai', cursive;
    font-size: 20px;
    display: flex;
    justify-content: center
}
.searchImage {
    width: 200px;
    length: 400px;
    display: flex;
    justify-content: center
}
